/* 
  colors
    white #f2f0eb;
    black #27251F
    lightgreen #00754a
    extralightgreen #d4e9e2
    darkgreen #1e3932
*/
* {
  color: #27251F;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* your code */
body{
  background-color:#1e3932;
}
nav{
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  margin-left: 25%;
  margin-right: 25%;

}
h1{
  font-size: 300%;
  color: #f2f0eb;
  margin-right: 5%;
}
header{
  background-color: grey;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 25%;
  margin-right: 25%;
  padding:20px;
  text-align: left;
  font-size: 150%;
  width:600px
}
section{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 25%;
  margin-right: 25%;
  border:5px solid white;
  padding:15px;
  margin-top: 5%;
  width:600px;
  font-size: 20px;
}
.city-item{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color:#83ebc8 ;
  margin-top: 5px;
  margin-bottom: 5px;
  

  
}
